/* ================= CONTACT ================= */

#contact{
    background:white;
}

.contact{
    margin-top:45px;

    display:grid;

    grid-template-columns:1fr 1fr;

    gap:60px;
}


/* CONTACT DETAILS */

.contact-details{
    display:flex;

    flex-direction:column;

    gap:15px;
}

.contact-item{
    display:flex;

    align-items:center;

    gap:16px;

    padding:16px;

    background:#f7f8fc;

    border:1px solid #e5e7eb;

    border-radius:8px;

    color:#111827;

    transition:.3s;
}

.contact-item:hover{
    border-color:#4169e1;

    transform:translateX(5px);

    background:white;

    box-shadow:0 8px 25px rgba(0,0,0,.06);
}


/* ICON */

.contact-icon{
    width:46px;

    height:46px;

    min-width:46px;

    display:flex;

    align-items:center;

    justify-content:center;

    border-radius:8px;

    color:white;

    font-weight:bold;

    font-size:17px;
}


/* GMAIL */

.gmail{
    background:#ea4335;
}


/* GITHUB */

.github{
    background:#24292f;
}


/* LINKEDIN */

.linkedin{
    background:#0a66c2;
}


/* PHONE */

.phone{
    background:#16a34a;
}


/* LOCATION */

.location{
    background:#f97316;
}


/* TEXT */

.contact-item small{
    display:block;

    color:#4169e1;

    font-size:9px;

    font-weight:bold;

    letter-spacing:2px;
}

.contact-item strong{
    display:block;

    margin-top:3px;

    font-size:13px;
}


/* CONTACT FORM */

.contact-form{
    display:flex;

    flex-direction:column;

    gap:13px;
}

.contact-form input,
.contact-form textarea{

    width:100%;

    padding:14px;

    border:1px solid #dfe3e9;

    border-radius:6px;

    font-family:inherit;

    outline:none;
}

.contact-form input:focus,
.contact-form textarea:focus{

    border-color:#4169e1;
}

.contact-form textarea{

    height:140px;

    resize:none;
}

.contact-form button{

    background:#111827;

    color:white;

    border:0;

    padding:14px;

    border-radius:6px;

    font-weight:bold;

    cursor:pointer;
}

.contact-form button:hover{

    background:#4169e1;
}


/* MOBILE */

@media(max-width:900px){

    .contact{
        grid-template-columns:1fr;
    }

}